<!--------------------------------------------------------------------------------->
<!-- STANDARD JAVASCRIPT LIBRARIES  ----------------------------------------------->
<!--------------------------------------------------------------------------------->

<!-- get jquery js -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-1.11.1/jquery-1.11.1.min.js')}}?v={{ config.get("VERSION", "x") }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-migrate-1.2.1/jquery-migrate-1.2.1.min.js')}}?v={{ config.get("VERSION", "x") }}"></script>

<!-- get bootstrap js -->
<script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap-3.3.1/js/bootstrap.min.js')}}?v={{ config.get("VERSION", "x") }}"></script>

<!--------------------------------------------------------------------------------->
<!-- APPLICATION JAVASCRIPT LIBRARIES  -------------------------------------------->
<!--------------------------------------------------------------------------------->

<!-- get the octopus js (must be done first) -->
<script type="text/javascript" src="{{url_for('static', filename='js/octopus.js')}}?v={{ config.get("VERSION", "x") }}"></script>

<!-- get the application config -->
<script type="text/javascript" src="{{url_for('configjs.javascript_config')}}?v={{ config.get("VERSION", "x") }}"></script>

<!-- for convenience in other places, set the current_domain and the current_scheme -->
<script type="text/javascript">var current_domain = document.location.host;</script>
<script type="text/javascript">var current_scheme = window.location.protocol;</script>

