{% import 'nav.html' as nav with context %}

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">

    <title>Monitor UK {% block page_title %}{% endblock %}</title>

    <meta name="description" content="Monitor UK - An aggregation of UK APC payments and related information">
    <meta name="author" content="Cottage Labs">
    <meta name="author" content="Jisc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cleartype" content="on" >

    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon-180x180.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="manifest" href="{{ url_for('static', filename='images/manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/safari-pinned-tab.svg') }}" color="#e65e11">
    <meta name="apple-mobile-web-app-title" content="jisc">
    <meta name="application-name" content="jisc">
    <meta name="msapplication-TileColor" content="#e65e11">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#e65e11">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- this is where we can incorporate any css files -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-jisc.7d6dc504.css')}}?v={{ config.get("VERSION", "x") }}">

    {% block extra_css_top %}{% endblock extra_css_top %}

    <!-- get the application's css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/service.css')}}?v={{ config.get("VERSION", "x") }}">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-81854582-2', 'auto');
      ga('send', 'pageview');
    </script>

</head>

<body class="">
<header class="site-header">
    <div class="masthead" role="banner">
        <div class="jiscbanner">
            <div class="inner">
                <a class="visuallyhidden" href="#main" tabindex="1">
                    <span>Skip to main content</span>
                </a>
                <a class="logo" href="//jisc.ac.uk">
                    <img alt="Jisc logo" src="{{url_for('static', filename='images/jisc-logo.png')}}">
                </a>
            </div>
        </div>
        <div class="inner">
        <div class="row">
            <div class="col-md-10">
                <h1><a href="{{ url_for('index') }}">Monitor UK</a> <span class="badge">ALPHA</span></h1>
            </div>
            <div class="col-md-2">
                <div class="login-bits">
                    {% if current_user.is_anonymous() %}
                        <a href="{{ url_for("account.login") }}" class="btn btn-primary jisc-btn jisc-btn-clear">Login</a>
                    {%  else %}
                        <a href="{{ url_for("account.logout") }}" class="btn btn-primary jisc-btn jisc-btn-clear">Log out</a>
                    {%  endif %}
                </div>
            </div>
        </div>
        </div>
        <div class="inner">
            <div class="tab-nav" >
                {{ nav.main_nav(config.get("PRIMARY_NAVIGATION", []), top_classes="nav nav-tabs navbar-left", sub_classes="subnav") }}
                {{ nav.main_nav(config.get("SECONDARY_NAVIGATION", []), top_classes="nav nav-tabs navbar-right", sub_classes="subnav") }}
            </div>
        </div>
    </div>

</header>

<div class="inner mainpanel">
    <main role="main" id="main" >
        <div class="row">
            <div class="col-md-12">
                {{ nav.breadcrumb(config.get("SITE_NAVIGATION", [])) }}
                <h1 class="report-header">{% block page_h1 %}{% endblock %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% include "_flash.html" %}
            </div>
        </div>

        {% block content %}{% endblock %}
    </main>
    <!--/ main -->
</div>
<!--/ .inner -->


{% include 'footer.html' %}
{% include '_js_includes.html' %}

{% block extra_js_bottom %}{% endblock extra_js_bottom %}

</body>

</html>
