{% extends "base.html" %}

{% block page_title %}Welcome{% endblock %}
{% block page_h1 %}Welcome to Monitor UK{%  endblock %}

{% block content %}

    <div class="inner report-intro-text">
        <p>If you are looking at this page, hopefully you are here to help us with the testing!</p>

        <p>We have a full testing plan <a href="https://docs.google.com/document/d/1jrmwQK3ducfVnbMJg84ZgxWreW9dFetQPQqJnSDdTMk/edit?usp=sharing">here</a>, and in summary, we need help with the following things:</p>

        <ol>
            <li>Making sure the interface works.  Try out the Search page and the various Report pages, linked in the navigation above.  Also take a look at your user account page,
            and make sure you can update your details, reset your password, etc.</li>
            <li>Provide us with data.  If you send us data in the Jisc TCO format, we'll import it into the test system for you.  You can then look at your data via the Search and Report pages, and
            let us know if it represents you suitably.</li>
            <li>Testing the API.  If you would like to try to integrate with the API, take a look at the testing plan linked above, where you will find all the details you need.</li>
        </ol>

        <p>Thanks for your help in testing - don't hesitate to give us any kind of feedback, so we can make the system better!</p>

        <p>- The Monitor Team</p>

    </div>
    <!-- .inner -->

{% endblock %}

{% block extra_js_bottom %}{% endblock%}
