{% extends "base.html" %}

{% block page_title %}Activate Your Account{% endblock %}
{% block page_h1 %}Activate Your Account{% endblock %}

{% block content %}

<form method="post" action="{{url_for('account.activate', activation_token=account.activation_token)}}" id="activate-form">
    <div class="row">
        <div class="col-md-offset-2 col-md-6 form-horizontal wide">
            <h2>{{account.email}}</h2>
            {% autoescape off %}
            {{ form_context.render_field_group("activate") }}
            {% endautoescape %}
        </div>

        <div class="col-md-offset-4 col-md-4 form-horizontal wide">
            <button class="btn btn--3d btn--primary" id="activate" type="submit">
                Activate!
            </button>
        </div>

    </div>

</form>

{% endblock %}

{% block extra_js_bottom %}
<script type="text/javascript" src="{{ url_for('static', filename='js/account/activate.js') }}"></script>
{% endblock extra_js_bottom %}